## Python Basic

In [1]:
a = 'python'

In [2]:
b = 123
c = 1.2
d = ['a', 'b']
e = {'name':'lee'}

In [3]:
print(a, b, c, d, e)

('python', 123, 1.2, ['a', 'b'], {'name': 'lee'})

In [9]:
a = 100 #주석
"""주석"""

'\xec\xa3\xbc\xec\x84\x9d'

In [10]:
a, b = 'var1', 'var2'
c = ('tuple1', 'tuple2')
d = ['list1', 'list2']
print(a, b, c, d)

('var1', 'var2', ('tuple1', 'tuple2'), ['list1', 'list2'])

In [11]:
a = 10
b = 3.14
c = True
print(a, b, c)

(10, 3.14, True)

In [12]:
print(bin(a))
print(hex(a))
print(oct(a))

0b1010
0xa
012

In [13]:
print(10==10)

True

In [30]:
sentence = '안녕'+" 하세요"
print(sentence)

안녕 하세요

In [18]:
sentence.split()
print(sentence)

안녕 하세요

In [31]:
sentence.find('하')

7

In [32]:
sentence.find('여')

-1

In [33]:
print(sentence)
sentence.replace('안', '해')
print(sentence)
sentence.strip("안녕")
print(sentence)

안녕 하세요
안녕 하세요
안녕 하세요

In [34]:
data = [10, 20, 30, 40, 50, 60]
print(data)
print(type(data))
print(data[0])
data[0] = data[4]

[10, 20, 30, 40, 50, 60]
<type 'list'>
10

In [35]:
print(data[2:4])

[30, 40]

In [36]:
data[10]

IndexError: list index out of range

In [38]:
data_1 = [1,2,3]
data_2 = [4,5,6]
data = data_1 + data_2
print(data)

[1, 2, 3, 4, 5, 6]

In [39]:
data.append('py')
print(data)

[1, 2, 3, 4, 5, 6, 'py']

In [40]:
data.insert(1, 'p')
print(data)

[1, 'p', 2, 3, 4, 5, 6, 'py']

In [43]:
data.remove('py')
print(data)

[1, 2, 3, 4, 5, 6]

In [44]:
print(min(data))

1

In [45]:
data.insert(1, 10)
print(data)

[1, 10, 2, 3, 4, 5, 6]

In [46]:
data.sort()
print(data)

[1, 2, 3, 4, 5, 6, 10]